<div class="container">
  <h1>Player Details</h1>

  <div class="picture" *ngIf="player">
    <img [src]="player.image" (error)='onImgError($event)' />
    <div class="player-info">
      <h2>{{ player.name }}</h2>
      <h2>{{ player.jerseyNumber }}</h2>
      <p>{{ player.position }}</p>
      <p>{{ player.leftHanded ? 'Left Handed' : 'Right Handed' }}</p>
      <p>{{ player.birthDate | date: 'shortDate' }}</p>
    </div>
    <button class="btn btn-warning" (click)="editPlayer()">
      Edit Player Info
    </button>
    <button type="button" class="btn btn-primary" [routerLink]="['/team', team.id]">
      Team Details
    </button>
  </div>
</div>
