<form #playerForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title">{{ mode }} Your Player</h4>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <label for="name">Player Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="player.name"
          name="name"
          #name="ngModel"/>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required!
        </div>
      </div>
      <div class="form-group">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              class="btn btn-outline-primary"
              id="dropdownFieldPosition"
              ngbDropdownToggle>
              {{ selectedFieldPosition ? selectedFieldPosition: 'Selected Field Position' }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownFieldPosition">
              <button *ngFor="let fieldPosition of fieldPositions | enumToArray" ngbDropdownItem (click)="selectFieldPosition(fieldPosition)">{{ fieldPosition }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Player Number</label>
        <input
          type="text"
          class="form-control"
          id="jerseyNumber"
          required
          [(ngModel)]="player.jerseyNumber"
          name="jerseyNumber"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Jersey Number is required!
        </div>
      </div>
      <div class="form-group">
        <label for="name">Player Birthdate</label>
        <div class="input-group">
     <input class="form-control" placeholder="yyyy-mm-dd"
            name="dp" [(ngModel)]="birthDate" ngbDatepicker #d="ngbDatepicker">
     <div class="input-group-append">
       <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
     </div>
   </div>
      </div>
      <div class="form-group">
        <label for="name">Player Photo</label>
        <input
          type="text"
          class="form-control"
          id="image"
          [(ngModel)]="player.image"
          name="image"
          #name="ngModel"
        />
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Jersey Number is required!
        </div> -->
      </div>
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="player.leftHanded">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="true"> Left
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="false"> Right
        </label>
       </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!playerForm.form.valid"
      (click)="onSubmit()">
      Submit
    </button>
    <button type="button" class="btn btn-warning" (click)="onCancel()">
      Cancel
    </button>
  </div>
</form>
